---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | David Wagih" description="About David Wagih">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpeg"
          alt="David Wagih at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a software engineer with over 3 years of experience, I specialize
            in developing web and mobile applications. My passion lies in
            creating products that address real-world challenges, ultimately
            enhancing the quality of people's lives.
          </p>
          <p>
            I am a self-taught developer who embarked on this journey during my
            first year of college. My programming journey began with C++, and I
            later transitioned to web development, a field that captured my
            heart.
          </p>
          <p>
            Currently, I serve as a software engineer at Money Fellows, where I
            contribute to the development of a web application aimed at
            streamlining the company's manufacturing process.
          </p>
          <p>
            Beyond my role in the tech world, I am also an entrepreneur. I
            founded Slash, an e-commerce platform dedicated to promoting local
            brands in Egypt.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Bachelor of Engineering in Computer Engineering, Ain Shams
            University <br />
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Technical Skills:
            <ul>
              <li>Full-Stack Web Development</li>
              <li>Mobile App Development</li>
              <li>Programming Languages: C++</li>
              <li>Software Engineering</li>
              <li>Database Management</li>
            </ul>
          </p>
          <p>
            Professional Experience:
            <ul>
              <li>Over 3 years of experience in software engineering</li>
              <li>Product Development</li>
              <li>Web Application Development</li>
              <li>Manufacturing Process Management</li>
              <li>Entrepreneurship</li>
            </ul>
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
